/*corpo da página*/
* {
    box-sizing: border-box;
}

/*body da página*/
body {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    
    background:#333333;
}

/*cabeçalho da página*/
.cabecalho {
    font-family: 'Manrope', sans-serif;
    font-size: 1em; /*equivale a 16px*/
    
    background: #0F1C26;
    color: #FDFDFD;
    /*margin: 0 0 0 67px;*/
    /*display: flex;
    justify-content: space-between;*/
    /*position: absolute;
    top: 0;
    right: 0;*/
}
 
/*conteúdo do cabeçalho da página*/
.cabecalhoConteudo {
    min-width: 1481px; /* mudei para min-*/ 
    min-height: 104px; /* mudei para min-*/ 
    
    display: flex;
    align-items: center;
    justify-content:space-between;
       
    border: solid red;
    
    /*margin-right: auto;
    margin-left: auto;*/   
}
 
/*links do cabeçalho da página*/
.cabecalho a {
    padding: 0 7em 0 0.5em;

    color: #FDFDFD;
    text-decoration: none;
    
}

/* estilo dos links do cabeçalho da página*/
.cabecalho a:hover {
    text-decoration: underline;
}

/*Logo do cabeçalho da página*/
.cabecalhoLogo {
    max-height: 72px;
    padding: 0 0 0 20px;
}

/*barra de pesquisa do cabeçalho da página*/    
.pesquisa {
    display: flex;
    flex-basis: auto;
    align-items: center;

    margin-right:auto; /*rever quando possível*/
    max-height: 56px;
    padding: 16px 0;
    
    background: #171B1E;
}

/*input de pesquisa do cabeçalho da página*/
.inputPesquisa {
    max-height: 56px;
    padding: 0 10px;
    
    display: flex;
    flex-basis: auto;
    
    background: #171B1E;
    color: #FDFDFD; 
    border: 0 none;
    outline: 0;
}

/*estilo do input de pesquisa do cabeçalho da página*/
::-webkit-input-placeholder {
    font-family: 'Manrope', sans-serif;
    font-size: 1em; /*equivale a 16px*/
    
    color: #FDFDFD;
}

/*usuário do cabeçalho da página*/
.usuario {
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    
    border: solid 1px red;
}
/* texto do usuário do cabeçalho da página*/    
.usuario > p{
    border: solid 1px red;
    padding: 0 0.5em 0 0.5em; 
}

/* imagem do usuário do cabeçalho da página*/      
.imgUsuario{
    height: 56px;
    width: 56px;
}

/*Principal dos filmes*/        
.principal{
    max-width: 1320px; /* mudei para max-*/ 
    margin-left: auto;
    margin-top: 24px;
    
    display: flex;
    justify-content: space-between;
    
    border: solid red;
    /*margin-right: auto;*/
    /*position: staatic;
    right: 0;
    top: 0;*/
}

/*conteúdo principal dos filmes*/    
.conteudoPrincipal{
    max-width: 937px; /* mudei para max-*/ 
    font-family: 'Quantico', sans-serif;
    
    border: solid palevioletred;
}

/*card promoção (principal dos filmes)*/
.cardPromocao{
    height: 119px;
    width: 936px;
    display: flex;
    align-items: center;
        
    position: relative;
    
    font-family: 'Quantico', sans-serif;
    
    background-image: url("icones/BarraPromocoes.svg"); /*tranforma imagem em plano de fundo */
    background-size: cover;
    background-position: right;
    border: solid steelblue;
}

/*conteúdo do card Promoção (principal dos filmes)*/
.conteudoPromocao {
    width: 553px;
    height: 87px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 12px;
}
    
/*imagem conteúdo do card Promoção (principal dos filmes)*/
.dinheiroPromocao {
    position: absolute;
    right: 0.05%;
    bottom: 0%;
    
    height: 173px;
    width: 293px;
    
    border: solid green;
}

/*div conteúdo do título do card Promoção (principal dos filmes)*/
.tituloPromocao {
    height: 60px;
    width: 355px;
    padding: 0;   
}

/*título do card Promoção (principal dos filmes)*/
.tituloPromocao h2 {
    margin: 0;
    padding: 0;
    color: #0F0915;
    font-size: 2.5em; /*equivale a 40px*/
}

/*cupom do card Promoção (principal dos filmes)*/
.cupomPromocao {
    height: 32px; 
    width: 292px;
    margin: 0;
    padding: 0px;
    
    display: flex;
}

/*texto cupom do card Promoção (principal dos filmes)*/
.cupomPromocao p {
    margin: 0;
    padding: 0;
}

/*divisória do card Promoção (principal dos filmes)*/
.linhaVertical {
    width: 2px;
    background-color:#F294D8;
    height: 46px; 
    opacity: 0.2;
}

/*div timer do card Promoção (principal dos filmes)*/
  .relogio {
    padding: 0;
}

/*texto do timer do card Promoção (principal dos filmes)*/
.relogio h3 {
    margin-bottom: 10px;
    height: 36px;
    font-size: 24px;
    color: #0F0915;
    
    border: solid black;
}

/*timer do card Promoção (principal dos filmes)*/
.contagem {
    height: 32px;
}

/*div Top Filmes (principal dos filmes)*/
.topFilmes{
    display: flex;
    flex-direction: column;
    width: 937px;
    position: static;
    font-family: 'Manrope', sans-serif;
    color: #FDFDFD;
    
    border: solid yellow;
}

/*link Top Filmes (principal dos filmes)*/
.topFilmes a {
    font-size: 1.5em; /*equivale a 24px*/
    font-weight: bold;

    text-decoration: none;
    color: #FDFDFD;
}
/*estilo dos links Top Filmes (principal dos filmes)*/
.topFilmesalho a:hover {
    text-decoration: underline;
}
/*div card filmes*/
.cardsTopFilmes {
    height: 168;
    width: 301;
    border: solid tomato;
}

.sacolaTopFilmes {
    background: #A785ED;
}

/*sacola lateral*/    
.barraSacola {
    margin: 0 24px 0 0;

    font-family: 'Manrope', sans-serif;
    width: 312px;  
    
    border: solid blue;
}

/*cabeçalho da sacola lateral*/    
.cabecalhoSacola {
    margin: 0;
    padding: 15px;    
    width: 311px;  
   
    display: flex;
    justify-items: center;
    justify-content: center;
    text-align: center;
    
    background: linear-gradient(0deg, #A785ED, #A785ED), #C4C4C4; 
}

/*links do cabeçalho da sacola lateral*/    
.cabecalhoSacola a {
    padding: 0 0 0 0.5em;
    
    font-size: 1.5em; /*equivale a 24px*/
    font-weight: bold;
    
    color: #FDFDFD;
    text-decoration: none;
}

/*estilo dos links da sacola lateral*/    
.cabecalhoSacola a:hover {
    text-decoration: underline;
}
 
/*conteúdo da sacola lateral*/    
.conteudoSacola {
    margin: 0;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    background: rgba(0, 0, 0, 0.2);
    color: #FDFDFD;
    /*display: flex;
    justify-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;*/
}

/*título do conteúdo da sacola lateral*/    
.conteudoSacola h2 {
    margin: 0;
    padding-top: 10px;
}

/*rodapé da sacola lateral*/    
.rodapeCupom {
    margin: 0 0 20px 0;
    padding: 5px;
    
    background: #171B1E;
}

/*texto do rodapé da sacola lateral*/    
.rodapeSacola p {
    margin: 0;
    padding: 0;
    
    font-size: 0.625em; /*equivale a 10px*/
}

/*input do rodapé da sacola lateral*/    
.inputRodapeCupom {
    background: #171B1E;
    color: #FDFDFD;
    opacity: 0.4;
    border: 0 none;
    outline: 0;
}

/*ingrsso do input do rodapé da sacola lateral*/    
.imgInputRodapeCupom {
    padding: 0 5px 0 0;
}

/*estilo do input do rodapé da sacola lateral*/    
.rodapeSacola ::-webkit-input-placeholder {
    font-family: 'Manrope', sans-serif;
    font-size: 1em;
    color: #FDFDFD;
}

